.container {
  padding: 32px;
  font-size: large;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.cardsContainer {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.cardsListContainer {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.serviceCard {
  padding: 16px;
  border: solid 1px brown;
}
