* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 8px 16px;
  font-size: 0.85rem;
  cursor: pointer;
}

.full-w {
  width: 100%;
  overflow: hidden;
}
